In [1]:
import pandas as pd

# CSV File Input-Output

Sample data from [Dataset Publishing Language](https://developers.google.com/public-data/docs/canonical/countries_csv). Copy them into a Calc sheet (Linux) or Excel (Windows) and save the file as CSV format.

### [Read CSV](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
Important parameters
* __sep__: Delimiter, separator
* __header__: Row number(s) to use as the column names, and the start of the data. First row = 0. 
* __names__: List of column names to use. If file contains no header row, then you should explicitly pass header=None

In [2]:
df = pd.read_csv(filepath_or_buffer='countries.csv',
                 header=0,  
                 sep=',', 
                 )
df.head(5)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

### [Write to CSV](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)
Important parameters
* __index__: Default = True. Set to False if index is not needed as a separate column.

In [3]:
df.to_csv(path_or_buf='countries_copy.csv', 
          index=False)

### Iterate through DataFrame's row with [_itertuples()_](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.itertuples.html)

In [4]:
for row in df.head(5).itertuples():
    print(row.country, row.name)

('AD', 'Andorra')
('AE', 'United Arab Emirates')
('AF', 'Afghanistan')
('AG', 'Antigua and Barbuda')
('AI', 'Anguilla')

# Overview of pandas 
* __head__ and __tail__

In [5]:
df.head(2)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates

In [6]:
df.tail(2)

    country   latitude  longitude      name
243      ZM -13.133897  27.849332    Zambia
244      ZW -19.015438  29.154857  Zimbabwe

* Describe numeric fields (in this case doesn't make much sense to average latitude)

In [7]:
df.describe()

         latitude   longitude
count  244.000000  244.000000
mean    16.253109   13.294814
std     27.031206   73.976477
min    -75.250973 -177.156097
25%     -0.301710  -38.092008
50%     16.869235   18.182149
75%     38.965238   49.046734
max     77.553604  179.414413